@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --description-color: #90a1b9;
}

* {
  font-family: "Inter", sans-serif;
}

a {
  color: #0cb5e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.body {
  background-color: white;
  color: black;
  padding: 2rem;
}

#email {
  cursor: pointer;
  color: #beab00;
}

.container {
  max-width: 40rem;
  margin: 4rem auto;
}

.navbar {
  margin-bottom: 6rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.nav-link {
  color: var(--description-color);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-profile {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  font-style: italic;
  color: var(--description-color);
}

.header-image {
  max-width: 6rem;
}

.header-image img {
  width: 100%;
  border-radius: 100%;
  transition: box-shadow 0.25s;
  box-shadow: 0 0 0 #0000;
}

.header-image img:hover {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 35px #3af07c;
}

.info-description {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.list {
  margin-bottom: 2rem;
}

.list-item {
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}

.section {
  margin-bottom: 4rem;
}

.section p {
  margin: 1rem 0rem;
  line-height: 2rem;
}

.gallery-images {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.gallery-image-link {
  flex: 1 1 45%;
  max-width: 45%;
  display: flex;
  justify-content: center;
}

.gallery-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  border-radius: 3rem;
  box-shadow: 0rem 0rem 0rem #0000;
  transition: transform 0.25s, box-shadow 0.25s;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0rem 2rem #3af07c;
}

.hobbies-image-link {
  flex: 1 1 90%;
  max-width: 90%;
}

.hobbies-image {
  aspect-ratio: inherit;
}

.hobbies-image:hover {
  box-shadow: 0rem 0rem 2rem #0db2ff;
}

.footer {
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: right;
}

.footer p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

@media (max-width: 600px) {
  .container {
    margin: 0rem auto;
  }

  .navbar {
    margin-bottom: 6rem;
  }

  .header-image {
    max-width: 5rem;
  }

  .gallery-image-link {
    flex: 1 1 90%;
    max-width: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  .body {
    color: white;
    background: #37353d;
  }
}
