{% extends "base.html" %} {% block title %}{{ title }} - about{% endblock %} {%
block content %}

<section class="section">
  <span class="header-name">about</span>
  <br />
  <br />
  <p>hi 👋</p>
  <p>
    i'm eesa. i'm 16 years old, and i've been coding for a really long time. i
    was around 8 years old when i began learning scratch, before trying to learn
    python using books i borrowed from the library.
  </p>
  <p>
    over the years, i built things with html, css, javascript, the "mern" stack,
    and more. once i was out of "tutorial hell," i decided to work on a hobby
    project:
    <a
      href="https://laser.vercel.app/feed"
      target="_blank"
      rel="noopener noreferrer"
      >lasersocial</a
    >
    - a fully functioning social media platform. i got a few of my friends to
    join, but they really only used it for a few days.
  </p>
  <p>
    i code quite a lot nowadays (writing this in july 2025), check out my
    <a
      href="https://github.com/eesazahed"
      target="_blank"
      rel="noopener noreferrer"
      >github</a
    >
    and see what i'm working on. i'm gonna be honest, i should really be
    spending more of my time prepping for college applications.
  </p>
  <p>
    thanks for reading. if you're a hackclubber, DM me on
    <a
      href="https://hackclub.slack.com/team/U074SFQFJMS"
      target="_blank"
      rel="noopener noreferrer"
      >slack</a
    >
    about what you think of this website!
  </p>
</section>
<section class="section" id="hobbies">
  <span class="header-name">hobbies</span>
  <p>coding isn't my only passion.</p>
  <p>
    i like to play sports. specifically, basketball and muay thai. i don't play
    on a team or anything, just play for fun. i've also recently started to
    learn how to do tricks on a skateboard.
  </p>
  <p>
    i used to play video games a lot, but nowadays i don't really have the time.
    when i do, it's either minecraft, civ 6, or mario kart 8 deluxe.
  </p>
  <p>
    i really like
    <a
      href="https://www.imdb.com/title/tt2560140/"
      target="_blank"
      rel="noopener noreferrer"
      >attack on titan</a
    >
    and
    <a
      href="https://www.imdb.com/title/tt0417299/"
      target="_blank"
      rel="noopener noreferrer"
      >avatar: the last airbender</a
    >. if you're into any of those as well, feel free to yap about it with me.
  </p>
  <div class="gallery-images">
    <a
      class="gallery-image-link hobbies-image-link"
      href="{{ url_for('static', filename='images/aot.png') }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="gallery-image hobbies-image"
        src="{{ url_for('static', filename='images/aot.png') }}"
      />
    </a>
  </div>
</section>
{% endblock %}
